@base: 23.44rem;

@font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

@red: #ff0033;
@green: #07c160;
@yellow: #ff976a;
@blue: #1989fa;
@grey: #999999;
@lightGrey: #efefef;
@moreGrey: #cccccc;
@black: #000000;
@lightBlack: #333333;
@white: #ffffff;
@baseColor: @white;
@transparent: transparent;

@baseBoxShadow: 0 (2 / @base) (4 / @base) rgba(0, 0, 0, 0.12),
  0 0 (6 / @base) rgba(0, 0, 0, 0.04);
@easyboxshadow:0 (2/@base) (12/@base) 0 rgba(0, 0, 0, 0.1);

@paddingLeft: (10 / @base);
@paddingRight: (10 / @base);
@paddingTop: (10 / @base);
@paddingBottom: (10 / @base);
@paddingAll: (10 / @base);
@marginLeft: (10 / @base);
@marginRight: (10 / @base);
@marginTop: (10 / @base);
@marginBottom: (10 / @base);
@marginAll: (10 / @base);

@spotFont: (10 / @base);
@baseFont: (14 / @base);
@miniFont: (12 / @base);
@largeFont: (16 / @base);
@moreFont: (18 / @base);

@baseRadius: (5 / @base);
@largeRadius: (10 / @base);
@moreRadius: 50%;

.auto {
  display: block;
  width: 100%;
  height: 100%;
}
.fixedAll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fixedTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.fixedBottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.absoluteTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.absoluteBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.flexTop {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}
.textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html {
  font-family: @font;
  transition: width 0.3s ease-in;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  &.dialog {
    width: 100%;
    height: 100%;
    overflow: hidden;
    body {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
body {
  width: 100%;
  -webkit-tap-highlight-color: @transparent;
  background-color: @lightGrey;
  color: @lightBlack;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
